.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Consolas, monospace;
    margin-bottom: 1.5%;
}

.h1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 24px;

}

.h2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0.2%;
    font-size: 24px;
}

.h-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}